#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body {
  background-color: hsl(0, 0%, 100%); /* Set the background color for the entire page */
  text-decoration-color: black;
}

.container {
  display: flex;
  align-items: center; /* Center vertically */
}

.h3 {
  font-size: 24px; /* Adjust as needed */
  padding-bottom: 8px ;
}

.h5 {
  font-size: 16px; /* Adjust as needed */
  margin-right: 10px; /* Adjust spacing between headings */
}

.form-col {
  display: flex;
  flex-direction: column; /* Stack the TextField components and labels vertically */
  padding: '1px 1px';
}

.form-field {
  display: flex;
  align-items: center; /* Align the TextField and label horizontally */
  /* margin-right: '10px'; */
}

.label {
  margin-left: 8px;
}

.shift-button {
  font-size: 10px;
  padding: 3px 6px;
  margin: 2px;
}

.img-backbutton, .img-profile  {
  width: 40px;
  height: 40px;
}

.img-logo {
  width: 120px;
  height: 70px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
